@import './base.css';

#app {
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(120, 60%, 35%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(120, 60%, 35%, 0.2);
  }
}
